@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
	
	--Color-negro: #363636;
	--Color-verde: #3ce2ad;
	--Color-gris: #f4f4f4;
	--Color-verde-precios: #d4fdfe;
	--Color-azul: #0078aa; 
	--Fondo-footer: #1c1c1c;
	--Color-letra-footer: #bbb;
	
}

body{
	font-family: 'Montserrat';
	font-size: 14px;
	color: var(--Color-gris);
}

.titulo{
	font-family: 'Roboto';
	color: var(--Color-negro);
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 3%;
}

#icons li{
	margin-right: -15%;
}

#hero{
	background-image: url("../img/bg-hero.jpg");
	background-size: cover;
	height: 100%vh;
	color: var(--Color-negro);
	padding: 6% 0 5% 7%;
}

#hero h1{
	font-size: 3.5em;
	padding-top: 20%;
	font-weight: 700;
	color: var(--Color-negro);
	padding-bottom: 3%;
	font-family: 'Roboto';
}

#hero i{	
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: var(--Color-verde);
	border: 1px solid var(--Color-verde);
	display:block;
	border-radius: 100%;
	font-size: 27px;
	color: #fff;
	margin: auto;
	margin-bottom: 3%;
}

#hero li{
	padding-right: 3%;
}

#hero h2{	
	font-size: 1em;
	padding-right: 20%;
	padding-bottom: 15%
}

.btn-primary {
	text-transform: uppercase;
	Color: var(--Color-negro);
	background-color: #fff;
	padding: 1% 5%;
	border: 0;
	font-weight: 700;
	border: 0;
	border-radius: 50px;
}

.btn-primary:hover{
	background-color: transparent !important;
	color: var(--Color-negro);
	border: 2px solid var(--Color-azul);
}

#home-continuar{
	overflow: hidden;
	margin-top: -5%;
}

#home-continuar .info-icono:first-child,
#home-continuar .info-icono:last-child{
	padding: 25% 5%;
}

#home-continuar .info-icono:nth-child(2){
	padding: 30% 5%;
}

#home-continuar h3, #home-continuar p{
	color: var(--Color-negro);
}


#home-continuar article:first-child,
#home-continuar article:last-child{
	background-color: #A1FDFF;
	border-radius: 3%;
}

#home-continuar article:nth-child(2){
	background-color: var(--Color-verde-precios);
	border-radius: 3%;
}

#home-continuar h2, #home-continuar i {
	color: var(--Color-azul);
	font-size: 30px;
	padding-bottom: 5%;
}

#home-continuar .info-contenido{
	overflow: hidden;
	display: block;
}

.section{	
	padding: 8% 0 5%;
}

#about span{
	font-weight: 200;
}

#about p{
	color: var(--Color-negro);
}

.subtitulo {
	font-size: 13px;
	color: var(--Color-azul);
}

#features .row{
	background-color: #fff;
}

#features{
	background-image: url("../img/bg-rectangle.jpg");
	background-size: cover;
	height: 100%vh;
	color: var(--Color-negro);
	padding: 6% 0 5% 7%;
}

#features{
	background-color: var(--color-gris);
	text-align: center;
}

#features .titulo{
	margin-bottom: 2%;
}

features p{
	color: var(--Color-negro);
}

#Special a.btn-primary{
	background-color: var(--Color-verde);
}

#Special p{
	color: var(--Color-negro);
}

.feature i{
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border: 1px solid var(--color-principal);
	display:block;
	border-radius: 100%;
	font-size: 24px;
	color: var(--color-azul);
	margin: auto;
	margin-bottom: 3%;
}

.feature h3{
	font-size: 20px;
	margin-bottom: 3%;
}

.feature{
	padding: 50px;
	text-align: center;
}

#works {
	background-image: url("../img/bg-work.png");
	background-size: cover;
	background-position: top center;
}

#works .tab-content{
	padding: 40px 0;
}

#works .nav-tabs a {
	color: #000;
	font-size: 20px;
	border: 0;
	border-radius: 0;
	padding: 10px 45px;
}

#works .nav-tabs a.active {
	background-color:  var(--color-principal);
	color: #FFFFFF;
}

#works .nav-tabs {
	box-shadow: 0px 0px 10px 0px #ddd;
	background-color: #fff;
}

#prices {
	background-image: url("../img/bg-offers.jpg");
	background-size: cover;
	background-position: top center;
}

#prices article:first-child,
#prices article:last-child{
    background-color: #A1FDFF;
    border-radius: 3%;
	padding: 0 -10%;
}

#prices article:nth-child(2){
    background-color: var(--Color-verde-precios);
    border-radius: 3%;
}

/*
#prices .info-contenido{
	overflow: hidden;
	display: block;
}
*/

#prices{
	color: var(--Color-negro); 
}

#prices article{
	padding: 10% 0;
}

#prices p{
	margin-top: 40px;
}
#prices{
	text-align: center;
    overflow: hidden;
    margin-top: -5%;
}

footer {
	background-color: var(--Fondo-footer);
	color: var(--Color-letra-footer);
}

#bot{
	background-color: #929292;
	text-align: center;
}

#bot .section{
	margin: -20% 0;
}
/*MEDIA QUERIES*/


/*Tablet: >= 40px y <= 990px*/
/*min-width, max-width*/

@media (min-width: 480px) and (max-width:990){
	
	/*clases, slectores, identificadores a modificar o mejorar*/	
	#hero {
		height: inherit;
		padding-bottom: 10%;
	}
	
}	

/*Celular: < 480px*/